{% extends "base.html" %}

{% block content %}
<h1 class="inter">Maoyue's URL Shortener</h1>
<form id="form-item" method="post">
    <div class="input-wrapper">
        <input class="inter" id="input" type="url" name="url" placeholder="https://example.com" required />
        <span id="text" class="inter"></span>
        <button type="submit" id="btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="12" y1="19" x2="12" y2="5"></line>
                <polyline points="5 12 12 5 19 12"></polyline>
            </svg>
        </button>
    </div>
</form>
{% endblock %}